# Dépendances Frontend
node_modules/
.expo/
dist/
npm-debug.log

# Dépendances Backend
__pycache__/
venv/
env/
.env

# --- BASES DE DONNÉES LOCALES ---
*.db
*.sqlite3
pingpong.db

# --- DOCUMENTS PERSONNELS ET OS ---
.DS_Store
/*.docx
/*.pdf
/~$*
/*.png
/*.jpg